# no version needed since 2020
services:
  jekyll:
    image: bretfisher/jekyll-serve
    container_name: icfpp
    working_dir: /srv-jekyll
    volumes:
      - .:/srv-jekyll
    ports:
      - '5750:5750'
      - '35750:35750'
    command: |
      bundle exec jekyll serve
      --trace --force_polling
      --host 0.0.0.0
      --port 5750
      --livereload
      --livereload-port 35750
