<div class="container">
  <form onsubmit="sendEmail(event)">
    <legend>Contact Form</legend>
    <div id="alert-field" class="alert hidden">
      <p>Uh oh! Something went wrong!</p>
    </div>    
    <div class="form-group col-xs-6">
      <label for="name-field">Name</label>
      <input type="text" class="form-control" id="name-field" name="name-field" placeholder="Your name" required>
    </div>
    
    <div class="form-group col-xs-6">
      <label for="email-field">Email</label>
      <input type="email" class="form-control" id="email-field" name="email-field" placeholder="Email address" required>
    </div>
    
    <div id="hidden-other-subject" class="form-group col-xs-6 hidden">
      <label for="other-subject-field">Other</label>
      <input type="text" class="form-control" id="other-subject-field" name="other-subject-field" placeholder="Other subject" />
    </div>
    
    <div class="form-group col-xs-12">
      <label for="body-field">Message</label>
      <textarea id="body-field" name="body-field" class="form-control" placeholder="Type your message here" required></textarea>
    </div>
    
    <div class="form-group col-xs-12">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>  
    </div>
    
  </form>
</div>
