<!-- Start Hero req-prayer -->
<link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/hero.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/req-prayer.js"></script>

<div class="container-fluid">
  <div class="col-md-9 col-md-offset-1 form">
    <form id="formID" onsubmit="postPrayer(event)">
      <div class="form-group">
        <h3>Tell us about what we can pray for</h3>
        <div id="success"></div>
      </div>

      <div class="form-group input-field">
        <input type="text"
          name="entry.1283162167"
          placeholder="Do you need to keep this request anonymous?"
          pattern="[Yy]es|[Nn]o"
          required
        />
      </div>
      <div class="form-group input-field">
        <textarea
          name="entry.1190828109"
          placeholder="Tell us what or who we can pray for?"
          required
        />
      </div>

      <div id="alert-field" class="alert hidden">
        <p>Uh oh! Something went wrong!</p>
      </div>

      <!-- data-sitekey="0x4AAAAAACBSiZE2rUJH20hh" -->
      <!-- data-sitekey="1x00000000000000000000AA" -->
      <!-- data-sitekey="2x00000000000000000000AB" -->
      <div
        class="cf-turnstile"
        data-sitekey="2x00000000000000000000AB"
        data-theme="light"
        data-size="flexible"
        data-callback="onTurnstileSuccess"
        data-error-callback="onTurnstileError"
        data-expired-callback="onTurnstileExpired" >
      </div>
      <div id="sendButton" class="col-md-3 col-md-offset-4 form hidden">
        <div class="form-group form-field">
          <input type="submit" class="btn btn-default" value="Send ➤">
        </div>
      </div>

    </form>
  </div>
</div>
<!-- End Hero -->
