<!-- Start Hero send-infoflow -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
  integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<script src="{{ "/assets/js/send-infoflow.js" | relative_url }}"></script>

<div class="container-fluid">
  <!-- <div class="col-sm-6 col-sm-offset-6 col-md-4 col-md-offset-8 form"     -->
  <div class="col-md-6 col-md-offset-3 form">
    <form id="formID" onsubmit="sendInfoFlow(event)">
      <div class="form-group">
        <h3>Send us your name & email address</h3>
        <div id="success"></div>
      </div>
     <div class="form-group input-field">
        <input type="text"
          name="entry.1258121403"
          id="fullname"
          placeholder="Your name"
          required
        />
      </div>
      <div class="form-group input-field">
        <input type="email"
          name="emailAddress"
          id="email"
          placeholder="Email address"
          required
        />
      </div>
      <div class="form-group input-field">
        <input type="text"
          name="entry.1190828109"
          id="country"
          placeholder="Which country are you from?"
          required
        />
      </div>

      <div class="form-group input-field">
        <input type="number"
          min="4" max="4"
          name="quantity"
          id="quantity"
          placeholder="Security: what is 2 plus 2?"
          required
        />
      </div>

      <div id="alert-field" class="alert hidden">
        <p>Uh oh! Something went wrong!</p>
      </div>

      <!-- data-sitekey="0x4AAAAAACBSiZE2rUJH20hh" -->
      <!-- test keys -->
      <!-- data-sitekey="1x00000000000000000000AA" -->
      <!-- data-sitekey="2x00000000000000000000AB" -->
      <div
        class="cf-turnstile"
        data-sitekey="0x4AAAAAACBSiZE2rUJH20hh"
        data-theme="light"
        data-size="flexible"
        data-callback="onTurnstileSuccess"
        data-error-callback="onTurnstileError"
        data-expired-callback="onTurnstileExpired" >
      </div>
      <div id="sendButton" class="hidden col-md-3 col-md-offset-4 form">
        <input type="submit" class="btn-default" value="Send ➤">
      </div>
    </form>
  </div>
</div>
<!-- End Hero send-infoflow -->
