<h2>{{ site.data.side-bar.title }}</h2>
{{ site.data.side-bar.south-address1 }}
<br>
{{ site.data.side-bar.south-address2 }}
<br>
{{ site.data.side-bar.south-address3 }}
<br>
<a href="{{ site.data.side-bar.south-map }}">Google Map Link</a>
<br>
<br>

ICF South service, 10.30am
<br>
at #31 St 430 corner St 500,
<br>
Phsar Deum Thkov
<br>
<a href="{{ site.data.side-bar.north-map }}">Google Map Link</a>
<br>
<br>
<br>
Follow us on social media
<br>
for updates on our online
<br>
services and other important
<br>
information:
<br>
<a href="https://www.facebook.com/icfpp/">@icfpp</a>
