<h2>{{ site.data.side-bar.title }}</h2>
<br>
<p>
  ICF North service, 9.30am at HOPE International School, #532 St Try Heng 3, Sen Sok
  <br>
  <a href="{{ site.data.side-bar.south-map }}">Google Map Link</a>
</p>
<hr> <br>

<p>
  ICF South service, 10.30am at #31 St 430 corner St 500, Phsar Deum Thkov
  <br>
  <a href="{{ site.data.side-bar.north-map }}">Google Map Link</a>
</p>

<hr> <br>
<p>
  Follow us on social media for updates on our online services and other important information:
  <a href="https://www.facebook.com/icfpp/">@icfpp</a>
</p>
<hr> <br>

<div style="text-align:center;">
  <div style="height: 10px; overflow: hidden;"> </div>
  <a style="text-decoration: none" class="wsite-button wsite-button-small wsite-button-highlight" href="/donate.html" >
    <span class="wsite-button-inner">Donate</span>
  </a>
<div style="height: 10px; overflow: hidden;"></div></div>

<br><hr> <br>
<address>
  Contact us by email:<br> <a href = "mailto: admin@icfpp.org">Send Email</a>
</address>
<p>
<div style="text-align:center;">
  Sign up for InfoFlow newsletter:
  <div style="height: 10px; overflow: hidden;"> </div>
  <a style="text-decoration: none" class="wsite-button wsite-button-small wsite-button-highlight" href="/infoflow.html" >
    <span class="wsite-button-inner">InfoFlow</span>
  </a>
<div style="height: 10px; overflow: hidden;"></div></div>
</p>

<br><hr> <br>
